.main {
  border: 1px solid #d9d9d9;
  background-color:
}
.main_header {
  font-family: Arial;
  font-variant: small-caps;
  text-align: center;
  color: #00a5cb
}
hr {
  width: 700px;
}
.summary {
  font-family: Arial;
  font-size: 14px;
  text-align: center;
  color: #666666;
  padding-right: 30px;
  padding-left: 30px;
}
